[Unit]
Description=Load Docker Images at Boot
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/scripts/docker-image-loader.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
